:root {
    --logo-text-color:#000000;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #212121;
    --first-btn-color:#2196f3;
    --second-btn-color: #000000;
    --main-heder-text-color: #212121;
    --second-header-text-color: #757575;
    --header-nav-text-color: #2196f3;
    --social-icon-btn-color: #2196f3;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: Roboto; sans-serif;
    color: var(--first-text-color);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*------------header----------------------------------------------------------*/
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-heder-text-color)

}
.header-link:hover,
.header-link:focus{
    color:var(--header-nav-text-color);
}
.color-link:hover,
.color-link:focus{
    color: var(--header-nav-text-color);
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active{
    background-color: var(--first-btn-color);
    color: var(--main-title-color);
}
.header{
    height: 80px;
}
.header-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--header-nav-text-color);
}
.second-logo-color{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--logo-text-color);
}
.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-header-text-color)
}
.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-header-text-color)
}
.menu-contacts-icon{
    margin-right: 10px;
    fill: currentColor;
}
.menu-contacts-icon:hover{
    color: var(--header-nav-text-color);
}
.tel-icon-size{
    width: 10px;
    height: 16px;
    fill: currentColor;
}
.envelope-icon-size{
    width: 16px;
    height: 12px;
    fill: currentColor;
}
.mail-icon,
.tel-icon{
    display: flex;
    align-items: center;
}
.header-logo{
    margin-right: 93px;
    padding-top: 24px; 
    padding-bottom: 25px;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.link-item{
    padding-top: 32px; 
    padding-bottom: 32px;
}
.header-connect{
    margin-left: auto;
}
.header-list{
    display: flex;
}
.list-item{
    display: flex;
}
.list-item .header-part + .header-part {
    margin-left: 50px;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-container{
    display: flex;
    align-items: center;
}
.line-bottom{
    background-color: var(--main-title-color);
    border-bottom: 1px solid #ECECEC
}


/*----------------------------hero-------------------------------------------*/
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    letter-spacing: 0.06em;
}

.hero-img-card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../images/Img.hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color : #2F303A;
}

.title-hero{
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
    width: 696px;
}
.button-hero{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    background: #188CE8;
    border-radius: 4px;
    border: 1px solid rgb(0 0 0 / 15%);
    padding: 10px 32px 10px 32px;
}
/*-----------------------post----------------------*/
.post-text {
    padding-top: 94px;
}
.post-info-text {
    display: flex;
    flex-wrap: wrap;
}
.content-info-text:not(:last-child){
    margin-right: 30px;
    width: 270px;
}
.title-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--first-text-color);
}
.about-title-text {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--second-header-text-color);
    width: 270px;
}
.icon-post-title{
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
}
.icon-post{
    width: 70px;
    height: 70px;
    color: currentColor;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------What are we doing---------------------------------*/
.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}
.gallery-list{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--first-text-color);
    text-align: center ;
    margin-bottom: 50px;
}
.gallery-item{
    display: flex;
    
}
.gallery-img{
    margin-right: 30px;
}
/*----------------------------------team-------------------------------*/
.team-list{
    display: flex;
    margin-left: -30px;
}
.our-team-item{
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin-left: 30px;
    width: 270px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team-page {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 88px;
}
.our-team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
    text-align: center;
    margin-bottom: 50px;
}
.pro-masters-item{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
}
.pro-masters-item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-header-text-color);
    margin-bottom: 16px;
}
.page-name-container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.master-social-item{
    width: 44px;
    height: 44px;
}
.master-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.master-social{
    display: flex;
    justify-content: center;
}

.master-social-item + .master-social-item{
    margin-left: 10px;
}
.master-social-icon{
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: #AFB1B8;
    
}
.master-social-link:hover,
.master-social-link:focus{
    background-color: var(--social-icon-btn-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.master-social-link:hover .master-social-icon,
.master-social-link:focus .master-social-icon{
    fill:#ffffff;
}
/*--------------------------------------footer---------------------------------------*/

.footer-list{
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-section{
    background-color : #2F303A;
}
.link-footer-text{
    /*padding-top: 20px;*/
    margin-top: 20px;
}
.footer-space:not(:last-child){
    margin-bottom: 9px;
}
.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--main-title-color)
}
.logo-color{
    color: var(--first-btn-color);
}
.footer-address{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
}
.footer-mail{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
    font-weight: 400l;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.footer-post-text{        
    font-family: Roboto;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    margin-top: 12px;
}
.addres-content{
    margin-right: 70px;
}
.footer-main-conteiner{
    display: flex;
    justify-content: baseline;
}
.social-footer-item{
    width: 44px;
    height: 44px;
}
.social-footer{
    display: flex;
    justify-content: center;
}
.social-footer-item + .social-footer-item{
    margin-left: 10px;
}
.social-footer-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.footer-link{
    fill: #ffffff;
}
.social-footer-link:hover,
.social-footer-link:focus{
    background-color: var(--social-icon-btn-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*---------------------------------filter-----------------------------*/
.filter-menu{
    margin-right: 8px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.btn-item:not(:last-child) {
    margin-right: 8px;
}
.section-filter{
    padding-bottom: 94px;
    padding-top: 94px;
}
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--first-text-color) ;
    padding: 6px 22px 6px 22px;
}
.button{
    background-color: #F5F4FA
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border-style: none;
    border-radius: 4px;

}
.button:hover,
.button:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.pointer {
    cursor: pointer;
}
.img{
display: block;
max-width: 100%;
height: auto;
}
.filter-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-heder-text-color);
}
.filter-aside {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-header-text-color);
}
.filter-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.filter-set > .filter-window{
    flex-basis: calc((100% - 3 * 30px) / 3);
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.filter-window:nth-child(3n){
    margin-right: 0;
}
.card-content{
    padding: 20px 24px 20px 24px;
}
.portfolio-link{
    display: block;
    text-decoration: none;
}
.portfolio-link:hover,
.portfolio-link:focus{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

/*-------------------------------our-clients--------------------------------*/

.our-clients-page{
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-clients{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
    text-align: center;
    margin-bottom: 50px;
    
}
.our-clients-list{
    display: flex;
    justify-content: center;
}
.our-clients-link{
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.our-clients-icon{
    fill: #AFB1B8;
}
.our-clients-item + .our-clients-item{
    margin-left: 30px;
}
.our-clients-link:hover .our-clients-icon,
.our-clients-link:focus .our-clients-icon{
    fill:var(--social-icon-btn-color);
}
.our-clients-link:hover{
    border-color:var(--social-icon-btn-color);
}
.our-clients-link:focus {
    border-color: var(--social-icon-btn-color);
    color: var(--social-icon-btn-color);
}


