.clients-page{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.clients-page__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--second-title-color);
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 1200px){
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }
}
.clients-page__list{
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
}
.clients-page__link{
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color var(--transition-duration-time) var(--timing-function);
    &:hover{
        border-color:var(--social-icon-btn-color);
    }
    &:focus{
        border-color: var(--social-icon-btn-color);
        color: var(--social-icon-btn-color);
    }
}
.clients-page__icon{
    fill: #AFB1B8;
    transition: fill var(--transition-duration-time) var(--timing-function);
}
.clients-page__item{
        height: 92px;
        flex-basis: calc(100% / 2 - 30px);
        margin: 15px;
    @media screen and (min-width: 768px){
        flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px){
        flex-basis: calc(100% / 6 - 30px);
    }
}
.clients-page__link {
    &:hover .clients-page__icon, &:focus .clients-page__icon {
        fill: var(--social-icon-btn-color);
    }
}