.filter-menu{
    margin-right: 8px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.section-filter{
    padding-bottom: 94px;
    padding-top: 94px;
}
.filter-btn{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--first-text-color) ;
    padding: 6px 22px 6px 22px;
    &:hover,
    &:focus,
    &:active{
        background-color: var(--first-btn-color);
        color: var(--main-title-color);
    }
}
.filter-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-heder-text-color);
}
.filter-aside {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-header-text-color);
}
.filter-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.filter-set > .filter-window{
    flex-basis: calc((100% - 3 * 30px) / 3);
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: color var(--timing-function) var(--transition-duration-time);
}
.filter-window :hover .card-content-text{
    transform: translateY(0);
}
.filter-window:nth-child(3n){
    margin-right: 0;
}