.gallery {
    padding-bottom: 94px;
    @media screen and (max-width: 1200px){
        display: none;
    }
}
.gallery__list{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:var(--first-text-color);
    text-align: center ;
    margin-bottom: 50px;
}
.gallery__item{
    display: flex ;
}
.gallery__card{
    margin-right: 30px;
}
.gallery__img{
    position: relative;
}
.gallery__text-container{
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    overflow: hidden;
}
.gallery__text{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: auto;
}