.mob-menu {
    position: fixed;
    background-color: #ffff;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding-top: 48px;
    padding-bottom: 48px;
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.mob-close-btn{
    display: block;
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    right: 15px;
    top: 0;
}

.mobail-list{
    justify-content: space-between;
}
.mobail-list__item{
    padding-left: 25px;
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mobail-list__link{
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #212121;
}
mob-menu-top
mob-menu-bottom



.mobail-list__email {  
    display: block;
    padding-left: 25px;
    padding-top: 32px;
    
}
.mobail-list__tel{
    font-weight: 500;
    display: block;
    padding-left: 25px;
    padding-top: 32px;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color:#2196F3;
}
.mobail-social-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color:#2196F3;
    margin-right: 20px;
}



.mobail-social-list{
    padding-left: 25px;
    padding-top: 64px;
    display: flex;
    flex-wrap: wrap;
}
.mobail-social-list__item {

    @media screen and (max-width: 479px){
        margin-bottom: 20px;
    }
}