.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 750ms, visibility 750ms;
}
.modal{
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) rotate(0);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 750ms;
    padding: 40px;
}
.modal-close-icon{
    transition: fill var(--timing-function) var(--transition-duration-time);
}
.modal-close{
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background-color: transparent;
    box-shadow:rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
}
.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: scale(2) rotate(240deg);
    transition: transform 750ms;
}
.modal-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    color: #212121 ;
    margin-bottom: 12px;
}
.modal-form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;
    outline: none;
    transition: border-color var(--transition-duration-time) var(--timing-function);
}
.modal-form-input:focus{
    border-color: var(--social-icon-btn-color);
}
.modal-form-input:focus + .input-icon{
    fill: var(--social-icon-btn-color);
}
.modal-form-text:focus{
    border-color: var(--social-icon-btn-color);
}

.modal-form-text::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);

}
.checkbox-policy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-field{
    position: relative;
    
}
.text-form-input{
    display: block;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
}
.input-icon{
    position: absolute;
    left: 11px;
    top: 12px;
    transition: fill var(--transition-duration-time) var(--timing-function);
}
.modal-form-text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 20px;
    margin-top: 4px;
    outline: none;
    transition: border-color var(--transition-duration-time) var(--timing-function);
}
.link-color-text{
    color: var(--header-nav-text-color);
}
.check-text{
    font-size: 14px;
    line-height: 1.70;
    letter-spacing: 0.03em;
    color:#757575;
    display: flex;
    align-items: center;
}
.text-doc{
    margin-left: 7px;
}
.check-item{
    width: 16px;
    height: 15px;
    border-radius: 2px;
    
    border: 2px solid #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-button {
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #188CE8;
    box-shadow: 0 4 4 0px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    display: block;
    cursor: pointer;
}
.check-icon{
    fill: #ffffff;
}
.modal-check:checked + .check-text .check-item {
    background-color: var(--social-icon-btn-color);
    border: none;
}
.icon-wrap{
    position: relative;
}