.portfolio-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    & > .portfolio-window{
        flex-basis: calc((100% - 3 * 30px) / 3);
        box-sizing: border-box;
        margin-right: 30px;
        margin-bottom: 30px;
        border: 1px solid #EEEEEE;
        transition: color var(--timing-function) var(--transition-duration-time);
    }
}
.portfolio-window__link{
    display: block;
    text-decoration: none;
    transition: color var(--transition-duration-time) var(--timing-function);
    &:hover,
    &:focus{
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}
.filter-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-heder-text-color);
}
.filter-aside {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-header-text-color);
}
.portfolio-window :hover .card-content-text{
    transform: translateY(0);
    &:nth-child(3n){
        margin-right: 0;
    }
}

