
.master-list{
    display: flex;
    justify-content: center;
}
.social-list{
    display: flex;
    justify-content: center;
}
.social-list__item{
    width: 44px;
    height: 44px;
}
.social-list__link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition-duration-time) var(--timing-function);
    &:hover,
    &:focus{
        background-color: var(--social-icon-btn-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        fill:#ffffff;
    }
}
.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon{
    fill:#ffffff;
}
.social-list__icon{
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: #AFB1B8;
    transition: background-color var(--transition-duration-time) var(--timing-function);
    &:hover,
    &:focus{
        fill:#ffffff;
    }
}
.social-list__item + .social-list__item{
    margin-left: 10px;
}
