
:root {
    --logo-text-color:#000000;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #212121;
    --first-btn-color:#2196f3;
    --second-btn-color: #000000;
    --main-heder-text-color: #212121;
    --second-header-text-color: #757575;
    --header-nav-text-color: #2196f3;
    --social-icon-btn-color: #2196f3;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration-time: 250ms;
}